<!DOCTYPE html>
<html>
  <head>
    <script type="module">
      import * as datastar from "https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.7/bundles/datastar.js";
      import {setupDataStar} from "{{ url_for('static', filename='js.js') }}";
      setupDataStar(datastar);
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" />
    <title>
      {%block title %}Rotaplanner{% endblock %}
    </title>
    
  </head>

  <body>
    <div class="sidebar">
        <input type="checkbox" id="menu-toggle"/>
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <nav class="ui inverted vertical menu">
        <a class="item" href="{{ url_for('table.table_by_staff') }}">Rota by person</a>
        <a class="item" href="{{ url_for('table.table_by_location') }}">Rota by location</a>

        <a class="item" href="">Manage activity templates</a>
        <a class="item" href="/api/templates/supply">Manage supply templates</a>
        <a class="item" href="/api/activities/table">Rota solver</a>
        <a class="item" href="/api/templates/supply">Import from CLW</a>
        <a class="item" href="/api/config">Setup staff</a>
      </nav>
      <button slot="footer" variant="primary">Close</button>
    </div>
    <div class="pusher">
      <div class="header">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        {{self.title()}}
      </div>
      {%block main%} ... {% endblock %}
      
    </div>
    
  </body>
</html>