.activity-name,
.assignment,
.activity-location,
.assigned-staff {
  font-size: small;
}
.activity-name {
  font-weight: bold;
}

.activity-time,
.role-name {
  font-size: x-small;
  color: grey;
}
.spans-all-rows {
  grid-row: 1/-1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Segoe UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
}

.rota-names {
  display: grid;
  grid-row: 1/-1;
  grid-template-rows: subgrid;
  grid-template-columns: auto;
  border-right: 1px solid grey;
  position: sticky;
  left: 0;
  background-color: white;
}
.rota-table {
  position: relative;
  width: 80vw;
  overflow: auto;
  row-gap: 1px;
  border: 1px solid grey;
  td {
    border: 1px solid grey;
    padding: 0.5em;
  }
}
.rota-scrollable {
  display: grid;
  position: relative;
  overflow-x: auto;
  grid-template-rows: subgrid;
  grid-auto-flow: column;
  column-gap: 1px;
  white-space: nowrap;
}
.rota-grid {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: auto;
  grid-auto-columns: minmax(5em, 8em);
  grid-auto-flow: column;
  grid-row: 1/-1;
}
.float-wrapper {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: subgrid;
  grid-template-columns: auto 1fr;
  grid-row: 1/-1;
  grid-auto-flow: column;
}
.rota-segment {
  display: grid;
  grid-template-rows: subgrid;
  grid-auto-columns: minmax(5em, 8em);
  column-gap: 1px;
  grid-row: 1/-1;
  grid-auto-flow: column;
}

.activity {
  background-color: antiquewhite;
  padding: 2px;
  border: 1px solid burlywood;
  border-radius: 2px;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  margin: 2px;

  &.droptarget {
    border: 2px solid green;
  }
  &[data-dragging] {
    opacity: 0.5;
    cursor: grabbing;
    z-index: 100;
    &[data-ctrldrag] {
      cursor: copy;
    }
    &:not([data-can-drop]) {
      border: 2px solid red;
      cursor: not-allowed;
    }
  }
}
.has-title {
  margin-top: 0.2em;
}
.timeline-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 255, 0.5);
}
.activity-wrapper:hover {
  & .activity {
    box-shadow: 1px 1px;
  }
  & .timeline-bar {
    background-color: red;
  }
}
.activity.selected {
  background-color: burlywood;
}
.activity.dragover {
  background-color: green;
}
.activity-cell {
  scroll-snap-align: start;
  min-width: 8em;
  max-width: 16em;
  background-color: white;
  padding: 4px;
  &[data-dragover] {
    background-color: lightgreen;
  }
}
.role {
  border: 1px solid lightgrey;
  margin-top: 2px;
  padding: 2px;
  border-radius: 2px;
  background-color: #f9f9f9;
  &[data-dragover] {
    border-color: green;
  }
}
.activity[data-droptarget] .timeslot {
  border-color: green;
}
.activity-cell:hover {
  background-color: azure;
}

.activity-cell[data-dragover-invalid] {
  background-color: red;
}
.unallocated-activities {
  min-height: 4em;
  background-color: white;
}
.weekend {
  background-color: lightgrey;
}

.row-header {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 10;
  width: auto;
  min-width: 8em;
  border-right: 1px solid grey;
}
.row-header,
.column-header {
  position: sticky;
  top: 0;
  font-size: small;
  font-weight: normal;
  background-color: white;
}

.spinner {
  border-top: 2px solid blue;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: auto;
  animation: spin 2s linear 0s infinite forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
