
dist
.solid
.output
.vercel
.netlify
.vinxi
.yarn

# Environment
.env
.env*.local

# dependencies
/node_modules
*/__pycache__

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
*.pyc

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
