[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ortools = "==9.6.2534"
pywebview = "==4.0.2"
eel = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
