[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ortools = "*"
pytest = "*"
pytest-asyncio = "*"
attrs = "*"
python-benedict = "*"
pyhumps = "*"
pywebview = "*"
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.11"
