[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ortools = "*"
pytest = "*"
pytest-asyncio = "*"
pyhumps = "*"
sqlalchemy = "*"
flask = "*"
sqlmodel = "*"
pydantic = "*"
flask-pydantic = "*"
flask-sqlalchemy = "*"
unpoly = "*"
flask-wtf = "*"

[dev-packages]
flake8 = "*"
