<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Multiselect</title>
    <script type="module" src="./multiselect.js"></script>
  </head>
  <body>
    <searchable-multiselect
      name="example"
      label="Example Label"
      placeholder="Select options..."
    >
      <option value="1" selected><span class="pill">Opt1</span>Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </searchable-multiselect>
  </body>
</html>
