[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ortools = "==9.6.2534"
aiohttp = "*"
pytest = "*"
pytest-asyncio = "*"
attrs = "*"
python-benedict = "*"

[dev-packages]

[requires]
python_version = "3.11"
