{%extends "layout.html"%}
{%block title%}Activity templates{%endblock%}
{%block assets%}
<link rel=stylesheet href="/static/activity-templates.css" />
<script src="/static/edit_activity_template.js"></script>
<link rel="stylesheet" href="/static/edit_activity_template.css">
{%endblock%}
{%block main%}
<main>
    <div class="template-container-outer" up-main>
        <div class="template-container">
            <div class="template-list-header">
                <div>Name</div>
                <div>From</div>
                <div>To</div>
            </div>
            {%for template in templates%}
            {%set date_range = template.date_range()%}
            <a href="{{url_for('activities.edit_activity_template',template_id=template.id)}}" up-layer="new modal"
                up-size="grow" class="template-entry" up-accept-location="{{url_for('activities.activity_templates')}}"
                up-on-dismissed="up.reload()" up-on-accepted="up.reload()">
                <div>{{template.name}}</div>
                <div>{{date_range[0]}}</div>
                <div>{{date_range[1]}}</div>
            </a>
            {%else%}
            No activity templates are currently defined
            {%endfor%}
        </div>

    </div>
    <a href="{{url_for('activities.edit_activity_template',template_id=new_template_id)}}" up-layer="new modal"
        up-size="grow" up-on-accepted="up.reload()" up-on-dismissed="up.reload()"
        up-accept-location="{{url_for('activities.activity_templates')}}">New
        template</a>

</main>
{%endblock%}