
{%macro ordinal_options(first,last,name,value)%} {%for index in range(first,last+1)%}
<option value="{{index}}" {%if index==value %}selected{%endif%}>
    {%if index==1 %} Every {{name}} {%else%} Every {{ordinal(index)}} {{name}} {%endif%}
</option>
{%endfor%} {%endmacro%}

{%macro render_linklike(field)%}
<label class="linklike">
    {{field(**{'up-validate':true})}}{{field.label.text}}
</label>
{%endmacro%}

{%macro form_line(field)%}
<div id="{{field.id}}-group" class="field">
    
    {%if field.errors%}
        <div class="ui negative message">
            {%for err in field.errors%}
            <div>{{err}}</div>
            {%endfor%}
        </div>
        {%endif%}
        {{field}}
    </td>
</tr>
{%endmacro%}


{%macro render_group(group,rule_types,is_root=false)%}
<li>
    <div id="{{group._prefix}}-container" class="rule-box">
        {{group.group_type}} <label class="linklike">{{group.should_add_rule}}Add rule</label> <label
            class="linklike">{{group.should_add_group}}Add rule
            group</label>
        {%if not is_root%}<label class="linklike">{{group.is_deleted}}Delete group</label>{%endif%}
        <ul id="{{group._prefix}}-ul" up-form-group>

            {%for subgroup in group.groups%}
            {{render_group(subgroup,rule_types)}}
            {%endfor%}
            {%for rule in group.rules%}
            {{render_rule(rule,rule_types)}}
            {%endfor%}
            {%if group.groups|length == 0 and group.rules|length==0 %}
            ⚠️This group has no members
            {%endif%}

        </ul>
    </div>
</li>
{%endmacro%}





{%macro render_rule(rule,rule_types)%}
<li>
    <details class="rule-definition" {%if rule.is_open.data%}open{%endif%} name="rule-definition-box">
        <summary class="description">(rule description)</summary>
        <div style="display:none">{{rule.is_open}}</div>
        <table class="rule-box">
            <tbody>
                {{rule.rule_type}}
                {{rule.day_interval}}
                {{rule.week_interval}}
                {{rule.month_interval}}
                {{rule.start_date}}
                {{rule.finish_date}}
                {{rule.tag}}
                {{rule.date_type}}
                
            </tbody>
        </table>

    </details>

</li>
{%endmacro%}
{%macro datetime_field(field)%}
<div class="field">
{{field.label}}
<div class="ui calendar" id="{{field.id}}">
                    <div class="ui input left icon">
                    <input type="text" name="{{field.name}}" placeholder="{{field.label.text}}">
                    <i class="time icon"></i>
                </div>
                </div>
                </div>
                

{%endmacro%}
{%block main%}
<turbo-stream target="context-menu" action="update"><template></template></turbo-stream>
<turbo-stream target="activity-dialog" action="update"><template>
<div class="dialog-content">
    <form method="post" id="edit-activity-form">
        <span id="edit-activity-form-csrf">{{form.csrf_token}}</span>
        {{form.activity_id}}
        <h4>Edit activity</h4>
        <div class="ui form" id="template-editor-settings">
            {{form.name}}
            
                {{form.start_time}}
                    
                    {{form.finish_time}}
                    {{form.activity_tags(max_options_visible=0)}}
                    {{form.location}}
                
            <hr />
            <div id="{{form.requirements.id}}">
                Requirements:
                <div class="requirement-container">
                <div class="if-only-child empty-requirements">⚠️No requirements have been set</div>
                {%-for req in form.requirements%}
                <details {%if req.is_open.data%}open{%endif%}>
                    <summary>Requirement</summary>
                    {{req.req_id}}
                    <table class="requirement">
                        <div style="display:none">{{req.is_open}}</div>

                        {{form_line(req.skills)}}
                        {{form_line(req.requirement)}}
                        {{form_line(req.optional)}}
                        {{form_line(req.attendance)}}
                        {{form_line(req.geofence)}}

                        

                    </table>
                </details>
                {%endfor%}
                
                </div>
                <button type="submit" formnovalidate name="add-requirement" value="{{form.requirements.name}}">Add requirement</button>
                
                
                {{form.requirements.name}}

            </div>
        </div>
        <button type="submit">Save template</button>
        </div>
    </form>
    </template>
</turbo-stream>
{%endblock%}