<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.9.1/unpoly.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/unpoly@3.9.1/unpoly.min.css"
    />
    <link rel="stylesheet" href="/static/common.css" />
    <title>{% block title%}Rotaplanner{%endblock%}</title>
    {%block assets%} {%endblock%}
  </head>

  <body>
    <div class="header">
      <a href="/sidebar" up-layer="new drawer" up-class="menu">📃</a
      >{{self.title()}}
    </div>
    <div id="unpoly-status" up-hungry>
      {%if unpoly()%} This <b>is</b> an unpoly request {%else%} This
      <b>is not</b> an unpoly request {%endif%}
    </div>
    <input type="checkbox" id="navcontroller" />
    <!---
    <nav class="navigation" up-nav>
      <label for="navcontroller" class="closenav">Close</label>
      <div class="navheader">Main Menu</div>
      <div class="navitem">
        <a href="{{url_for('activities.table_by_staff')}}">Rota by person</a>
      </div>
      <div class="navitem">
        <a href="{{url_for('activities.table_by_location')}}"
          >Rota by location</a
        >
      </div>
      <div class="navitem">
        <a href="{{url_for('activities.activity_templates')}}"
          >Manage activity templates</a
        >
      </div>
      <div class="navitem">
        <a href="/api/templates/supply">Manage supply templates</a>
      </div>
      <div class="navitem"><a href="/api/activities/table">Rota solver</a></div>
      <div class="navitem">
        <a href="/api/templates/supply">Import from CLW</a>
      </div>
      <div class="navitem"><a href="/api/config">Setup staff</a></div>
    </nav>
    -->
    <label for="navcontroller" class="navbackdrop"></label>

    {%block main%} ... {%endblock%}

    <div style="display: none">
      <div class="error-popup">
        <h2>Something went wrong...</h2>
        <ul>
          {% for error in errors %}
          <li>{{error}}</li>
          {%endfor%}
        </ul>
      </div>
    </div>
  </body>
</html>
