{%extends "layout.html" %} {%block title%}View by name{%endblock%} 
{%from 'table_cells.html.j2' import cell_stream,render_cell with context%}

{%block assets%}
<link rel="stylesheet" href="/static/table.css" />
<script src="/static/table.js"></script>

{%endblock%} 

{%block main%}
<main>
  <table id="rota-table" data-turbo-prefetch="false">
  <thead>
  <tr>
  <th></th>
  {%for d in dates%}
    <th class="day-header" data-date="{{d}}">{{d}}</th>
  {%endfor%}
  </tr>
  </thead>
  <tbody>
      {%for staff_or_location in y_axis.values()%}
      <tr>
      <td class="row-header">{{staff_or_location.name}}</td>
      {%for d in dates%}
        
        {% set cell = activity_cells[(d,staff_or_location.id)] %}
        <td class="day-cell" id="{{cell.cell_id}}" data-date="{{d}}" data-{{grid_type}}="{{staff_or_location.id|string}}">
        
        
        {{render_cell(cell)}}
        <a class="show-activity" data-turbo-stream href="/rota_grid/add_activity?date={{d}}&{{grid_type}}={{staff_or_location.id}}">...</a>
        </td>
      {%endfor%}
      </tr>
      {%endfor%}
      <tr>
      <td class="row-header">Unallocated</td>
      {%for d in dates%}
        <td class="day-cell" id="cell-{{d}}-None" data-date="{{d}}">
        {{render_cell(activity_cells[(d,"None")])}}
        </td>
      {%endfor%}
      </tr>

  </table>
  <sl-dialog id="activity-dialog"><div id="dialog-content">...</div></sl-dialog>
</main>
{%endblock%}
