{%extends "layout.html" %} {%block title%}View by name{%endblock%} 
{% from "macros/activities.j2" import activity_cell,activity %}


{%block assets%}
<link rel="stylesheet" href="/static/table.css" />
<script src="/static/table.js"></script>

{%endblock%} 

{%block main%}
<main>
  <div id="rota-table" up-main data-csrf="{{csrf_token()}}" style="grid-template-rows: repeat({{y_axis|length +2}},auto);">
    <div id="rota-names" class="spans-all-rows">
      <div></div>
      {%for staff_or_location in y_axis%}
      <div class="row-header" data-yaxis="{{loop.index}}">{{staff_or_location.name}}</div>
      {%endfor%}
      <div class="row-header" data-yaxis="none"></div>
    </div>
    
    <div id="rota-scrollable" class="spans-all-rows">
      
      <div
        id="entryzone"
        class="spans-all-rows"
        up-defer="reveal"
        up-target="#rota-grid:before,#entryzone"
        up-href="/activities/table?start_date={{dates[0].toordinal()-30}}&finish_date={{dates[0].toordinal()-1}}"
      >
        <span class="spinner">.</span>
      </div>
      
      <div id="rota-grid" class="spans-all-rows">
          {% for date in dates %}
          <div class="column-header" data-date="{{date.toordinal()}}">{{date.strftime('%d %b %y')}}</div>
          {% for staff_or_location in y_axis%}
          {{activity_cell(staff_or_location,loop.index,date,activities)}}
          {%endfor%}
          <div
            up-data='{{ {"date":date.toordinal(),"yAxis":none}|tojson }}'
            data-date="{{date.toordinal()}}"
            data-staff="none"
            class="unallocated-activities"
            id="td-{{date.toordinal()}}-unalloc"
            up-hungry
          >
            {% for act in activities[date] %} {{activity(act,show_staff=false)}}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      <div
        id="endzone"
        class="spans-all-rows"
        up-defer="reveal"
        up-target="#rota-grid:after,#endzone"
        up-href="/activities/table?start_date={{dates[-1].toordinal()+1}}&finish_date={{dates[-1].toordinal()+30}}"
      >
        <span class="spinner">ENDZONE</span>
      </div>
      </div>
    </div>
  </div>
</main>
{%endblock%}
