{%macro show_toasts(toasts)%}
<script>
{%for t in toasts%}
$.toast({{toast|tojson}})
{%endfor%}
</script>
{%endmacro%}
{%macro render_cell(cell)%}
<div class="inner-cell" id="inner-{{cell.cell_id}}">
        {%for activity in cell.activities%}
          <div class="activity" draggable="true" data-activity-id="{{activity.activity_id}}" >
            <div class="activity-name">{{activity.name}}</div>
            {%if activity.location_id is not none and activity.location_id|string not in cell.cell_id|string%}
                <div class="location">{{activity.location_name}}</div>
            {%endif%}
            {%for sa in activity.staff_assignments%}
            {%if sa.staff_id|string not in cell.cell_id|string%}
                <div class="staff-allocation" {%if grid_type=="location"%}draggable="true" {%endif%}data-staff-id="{{sa.staff_id}}">{{sa.staff_name}}</div>
            {%endif%}
            {%endfor%}
                
          </div>
        {%endfor%}
        
        </div>
{%endmacro%}

{%macro cell_stream(replacement_cells,grid_type)%}
{%for cell in replacement_cells%}
      <turbo-stream action="replace" target="inner-{{cell.cell_id}}">
      <template>
        {{render_cell(cell)}}        
        </template>
      </turbo-stream>
{%endfor%}
{%endmacro%}
<turbo-stream target="context-menu" action="update"><template></template></turbo-stream>
{{cell_stream(replacement_cells,grid_type)}}
