{%extends "layout.html" %} {%block title%}View by name{%endblock%} 


{%block assets%}
<link rel="stylesheet" href="/static/table.css" />
<script src="/static/table.js"></script>

{%endblock%} 

{%block main%}
<main>
  <div id="rota-table" up-main data-csrf="{{csrf_token()}}" style="grid-template-rows: repeat({{y_axis|length +2}},auto);">
    <div id="rota-names" class="spans-all-rows">
      <div></div>
      {%for staff_or_location in y_axis%}
      <div class="row-header" data-yaxis="{{loop.index}}">{{staff_or_location.name}}</div>
      {%endfor%}
      <div class="row-header" data-yaxis="none"></div>
    </div>
    
    <div id="rota-scrollable" class="spans-all-rows" up-data='{{table_info|tojson}}'>
    <div id="grid-begin">&nbsp;</div>
    <div id="rota-grid"></div>
    <div id="grid-end">&nbsp;</div>
    </div>
      </div>
    </div>
  </div>
</main>
{%endblock%}
