.day-interval,
.week-interval,
.month-interval {
  display: none;
}

.rule-definition:has(option[value="daily"]:checked) .day-interval {
  display: inline;
}

.rule-definition:has(option[value="weekly"]:checked) .week-interval {
  display: inline;
}

.rule-definition:has(
    option[value="day-in-month"]:checked,
    option[value="week-in-month"]:checked
  )
  .month-interval {
  display: inline;
}

li:has(> .rule-definition > table > tbody > tr > td > .delete-rule:checked) {
  display: none;
}

.rule-box {
  border: 1px solid blue;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}

.linklike {
  color: blue;
  cursor: pointer;
  text-decoration-line: underline;
  input {
    display: none;
  }
}
