.if-only-child:not(:only-child) {
  display: none;
}
input[type="datetime-local"] {
  font-family: inherit;
}

select[multiple]:has(option:nth-child(1):checked) + .pills :nth-child(1) {
  color: red;
}
select[multiple]:has(option:nth-child(2):checked) + .pills :nth-child(2) {
  color: blue;
}
select[multiple]:has(option:nth-child(3):checked) + .pills :nth-child(3) {
  color: green;
}
select[multiple]:has(option:nth-child(4):checked) + .pills :nth-child(4) {
  color: orange;
}
select[multiple]:has(option:nth-child(5):checked) + .pills :nth-child(5) {
  color: purple;
}

select[multiple]:has(option:nth-child(1):checked) ~ select :nth-child(1) {
  display: none;
}
select[multiple]:has(option:nth-child(2):checked) ~ select :nth-child(2) {
  display: none;
}
select[multiple]:has(option:nth-child(3):checked) ~ select :nth-child(3) {
  display: none;
}
select[multiple]:has(option:nth-child(4):checked) ~ select :nth-child(4) {
  display: none;
}
select[multiple]:has(option:nth-child(5):checked) ~ select :nth-child(5) {
  display: none;
}

.toastrack {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.toast {
  position: relative;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;

  animation-fill-mode: forwards; /* Keep the last keyframe's styles */
  animation: fadeInOut 5s ease-in-out; /* Adjust the duration as needed */
}

/* Define the animation */
@keyframes fadeInOut {
  0% {
    opacity: 0; /* Start completely transparent */
    max-height: 0px; /* Start with zero height */
  }
  10% {
    opacity: 1; /* Fade in to fully opaque over the first 10% of the total duration */
    max-height: 100px; /* Expand to full height */
  }
  90% {
    opacity: 1; /* Remain fully opaque until the last 10% of the total duration */
  }
  100% {
    opacity: 0; /* Fade out to completely transparent */
  }
}
