.activity-name {
  font-size: small;
}
.spans-all-rows {
  grid-row: 1/-1;
}

#rota-names {
  display: grid;
  grid-template-rows: subgrid;
}
#rota-table {
  position: relative;
  display: grid;
  width: 80vw;
}
#rota-scrollable {
  display: grid;
  position: relative;
  scroll-snap-type: x mandatory;
  grid-template-rows: subgrid;
  grid-auto-flow: column;
  overflow: auto;
}
#rota-grid {
  display: grid;
  grid-template-rows: subgrid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-row: 1/-1;
}
.rota-segment {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: subgrid;
}
.activity {
  background-color: antiquewhite;
  padding: 2px;
  border: 1px solid burlywood;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px;
  }
  &.selected {
    background-color: burlywood;
  }
  &.dragover {
    background-color: green;
  }
}
.activitycell {
  scroll-snap-align: start;
  border: 1px solid gray;
  min-width: 5em;
  &:hover {
    border: 1px solid lawngreen;
    background-color: azure;
  }
  &.dragover-valid {
    background-color: green;
  }
  &.dragover-invalid {
    background-color: red;
  }
}
.unallocated-activities {
  padding-top: 2em;
}
.assignment {
}
.rowheader {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 10;
  width: auto;
  min-width: 8em;
}
.rowheader,
.column-header {
  font-size: small;
  font-weight: normal;
}

.spinner {
  border-top: 2px solid blue;

  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: auto;
  animation: spin 2s linear 0s infinite forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
