{%extends "layout.html"%}
{%block title%}Activity templates{%endblock%}
{%block assets%}
<link rel=stylesheet href="/static/activity-templates.css" />
{%endblock%}
{%block main%}
<main>
<div class="template-container-outer" up-main>
<div class="template-container">
    <div class="template-list-header"><div>Name</div><div>From</div><div>To</div></div>
    {%for template in templates%}
    <a href="{{url_for('activities.edit_activity_template')}}" up-layer="new modal" up-size="grow" class="template-entry"><div>{{template}}</div><div>from</div><div>to</div></a>
    {%else%}
    No activity templates are currently defined
    {%endfor%}
</div>
</div>
</main>
{%endblock%}