{%extends "layout.html"%}
{%macro ordinal_options(first,last,name,value)%} {%for index in range(first,last+1)%}
<option value="{{index}}" {%if index==value %}selected{%endif%}>
    {%if index==1 %} Every {{name}} {%else%} Every {{ordinal(index)}} {{name}} {%endif%}
</option>
{%endfor%} {%endmacro%}

{%macro render_rule(rule,is_root=false)%}
<li>
    {%if rule.rule_type.data!='group'%}
    <details class="rule-definition" {%if rule.is_open.data%}open{%endif%} name="rule-definition-box">
        <summary class="description">(rule description)</summary>

        <table class="rule-box">
            <tbody>
                <tr>
                    <td>Rule type:</td>
                    <td>{{rule.rule_type}}</td>
                </tr>
                <tr>
                    <td>
                        Frequency:
                    </td>
                    <td>
                        {{rule.day_interval}}
                        {{rule.week_interval}}
                        {{rule.month_interval}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Starting
                    </td>
                    <td>
                        {{rule.anchor_date}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><label class="linklike">
                            {{rule.is_deleted}}Delete rule
                        </label></td>
                </tr>
            </tbody>
        </table>

    </details>
    {%else%}
    <div id="{{rule._prefix}}-container" up-form-group class="rule-box">
        <input name="{{rule.rule_type.name}}" value="group" class="rule-type" type="hidden" />
        {{rule.group_type}} <label class="linklike">{{rule.should_add_rule}}Add rule</label> <label
            class="linklike">{{rule.should_add_group}}Add rule
            group</label>
        {%if not is_root%}<label class="linklike">{{rule.is_deleted}}Delete group</label>{%endif%}
        <ul>
            {%for rule2 in rule.members if not rule2.is_deleted.data%}
            {{render_rule(rule2)}}
            {%else%}
            ⚠️ This group is empty
            {%endfor%}

        </ul>
    </div>
    {%endif%}
</li>
{%endmacro%}
{%block main%}
<main>
    <form method="post" id="edit-activity-form">
        <h4>Edit activity</h4>
        <div class="template-editor-settings">
            <div>{{form.activity_name.label}} {{form.activity_name}}</div>
            This activity occurs:
            <div id="ruleset-container">
                <ul>
                    {{render_rule(form.ruleset,true)}}
                </ul>
            </div>
            <hr />
            <table>
                <tbody>
                    <tr>
                        <td>Start time</td>
                        <td>
                            {{form.start_time}}
                        </td>
                    </tr>
                    <tr>
                        <td>Finish time</td>
                        <td>
                            {{form.finish_time}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            Requirements:
            <table class="requirement">
                {%for field in form.requirements%}
                <tr>
                    <td>{{field.label}}</td>
                    <td>{{field}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </form>
</main>
{%endblock%}