{%extends "layout.html" %}
{%block title%}View by name{%endblock%}
{% macro activity(activity_def,staff_id=none,show_location=true) -%}
    <div class=activity {%if staff_id%}data-staff="{{staff_id}}"{%endif%} data-activityid="{{activity_def.activity_id}}" data-activitydate={{activity_def.activity_start.date().isoformat()}} draggable=true>
    <div class=activity-name>
        {{activity_def.name}}
    </div>
    {%if show_location%}
        <div class=activity-location>
            {{activity_def.location}}
        </div>
    {%endif%}
    {% for assignment in activity_def.staff_assignments if assignment.staff.id != staff_id%}
        <div class='assignment'>
        {{assignment.staff.name}}
        {% if (assignment.start_time is not none) and (assignment.finish_time is not none) %}
            ({{assignment.start_time.strftime('%H')}}-{{assignment.finish_time.strftime('%H')}})
        {%endif%} 
        </div>
    {% endfor %} 
    </div>
{% endmacro %}

{%block assets%}
<link rel=stylesheet href="/static/table.css"/>
<script src="/static/table.js" ></script>
{%endblock%}

{%block main%}
<main>
<div id="rota-table" up-main>
<table>
<thead>
<tr>
<th></th>
{% for date in dates %}
<th class="column-header">{{date.strftime('%d %b')}}</th>
{% endfor %}
</tr>
</thead>
<tbody id="rota-table-content">
{% for staffmember in staff %}
    <tr>
        <td class=rowheader>{{staffmember.name}}</td>
        {% for date in dates %}
        <td class=activitycell data-date={{date.isoformat()}} data-staff="{{staffmember.id}}"
            id="td-{{date.isoformat()}}-{{staffmember.id}}" up-hungry>
            
            {% for act in activities[date] if act.includes_staff(staffmember.id) %}
            {{activity(act,staff_id=staffmember.id)}}
            {% endfor %}
        </td>

        {% endfor %}
    </tr>
{% endfor%}
<tr>
<td><span id=empty></span></td>
{% for date in dates %}
    <td data-date={{date.isoformat()}} class="unallocated-activities" id="td-{{date.isoformat()}}-unalloc" up-hungry>
    {% for act in activities[date] %}
        {{activity(act)}}
    {% endfor %}
    </td>
{% endfor %}
</tr>
</tbody>
</table>
</div>
</main>
{%endblock%}
