{% extends "index.html.j2" %}

{%block title%}Rota Planner{% endblock %}

{% from "table-macros.html.j2" import table_row %}

{%block main%}
    <div id="app"
    data-computed:dragged-id="$dragged?.id ?? 'none'"
    data-computed:droptarget-id="$droptarget?.id ?? 'none'"
    data-computed:initial-dropzone-id="$initial?.id ?? 'none'"
    data-on:begin-drag="console.log(evt);$dragged=evt.target;$initial=evt.detail.initialDropzone"
    data-on:dropped="@post(location.href);$droptarget='x';$dragged='x'" 
    data-on:dragging-over="$droptarget=evt.detail.droptarget ?? 'x'"
    data-on:drag-cancelled="$droptarget='x'"
    data-effect="console.log($current);">
        
        <table class="table-rota-table">
          <thead>
            <tr>
              <td></td>
              {%for date in dates%}
                <td>{{ date.isoformat()[:10] }}</td>
                {%endfor%}
            </tr>
          </thead>
          <tbody>
          {% for row in table_query_result.rows %}
                {{ table_row(row, dates) }}      
          {% endfor %}
        
                
          </tbody>
        </table>
    </div>
    {%endblock%}